[submodule "Libraries/TiltedScript"]
	path = Libraries/TiltedScript
	url = https://github.com/TiltedPhoques/TiltedScript
[submodule "Libraries/cpp-httplib"]
	path = Libraries/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git